.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: beige;
}

.box {
    height: 100px;
    width: 100px;
    background-color: greenyellow;
}