.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200vh;
    background-color: black;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.modal {
    padding: 1em;
    width: 200px;
}


.box {
    display: flex;
    padding: 6px 12px;
    margin: 10px;
    flex-direction: column;
    height: auto;
    min-width: 200px;
    width: auto;
    justify-content: center;
    align-items: center;
    border: 5px solid green;
    background-color: white;
    box-sizing: border-box;
    position: relative;
}


.btn {
    background-color: red;
}

p {
    display: inline;
}

form div{
    display: flex;
    flex-direction: column;

}

#checkbox label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#checkbox p {
    margin: 0;
}

#checkbox div {
    flex-direction: row;
    gap: 12px;
}

#checkbox div div {
    gap: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}